.boton2{
	border-radius: 15px;
	background-color: white;
	width: 30%;
	margin-left: 35%;
}
.boton2:hover{
	border-radius: 15px;
	background-color: #d2ecf9;
	width: 30%;
	margin-left: 35%;
}
.boton2 a{
	text-decoration: none;
	color: black;
}
.boton2 a:hover{
	text-decoration: none;
}

table{
	text-align: center;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

.par{
	background-color: #808080;
	color: black;
}

.impar{
	background-color: #B7B7B7;
	color: black;
}

.login_form .boton{
	border-radius: 15px;
	background: #d2ecf9;
	color:#253b6e;
}

.login_form .boton:hover{
	border-radius: 15px;
	background: #1f5f8b;
	color:#d2ecf9;
}

body{
	background: #253b6e;
	color: #d2ecf9;
}

.header{
	height: 125px;
	right: 0px;
	position: relative;
	width: 100%;
	background: #253b6e;
}

.header .company_name a{
	text-decoration: none;
	color: white;
}

.header .company_name{
	bottom: 20%;
	font-size: 300%;
	height: 50%;
	margin-left: 26%;
	margin-bottom: 90px;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	width: 50%;
}

.header .logo_company{
	background: blue;
	bottom: 0px;
	height: 100px;
	margin: 1%;
	position: absolute;
	width: 100px;
	left: 1%;
	text-decoration: none;
}

.header .session{
	background: #1891ac;
	color:  #253b6e;
	position: absolute;
	right: 1%;
	top: 20px;
	text-align: center;
	border-radius: 15px;
	padding: 10px;
}

.header .session a{
	text-decoration: none;
	color: #253b6e;
}

.header .session:hover{
	background-color:#d2ecf9;
}

body .login_form {
	background: #d2ecf9;
	color: #253b6e;
	text-align: center;
	padding: 15px;
	margin-left: 40%;
	margin-top:100px;
	width: 20%;
	border-radius: 15px;
	display: inline-block;
	position: relative;
}

body .form_company {
	background: #d2ecf9;
	color: #253b6e;
	text-align: center;
	padding: 15px;
	margin-left: 10%;
	margin-top:100px;
	width: 80%;
	border-radius: 15px;
	display: inline-block;
	position: relative;
}

body .registrarse{
	background: #d2ecf9;
	color: #253b6e;
	text-align: center;
	padding: 15px;
	margin-left: 45%;
	margin-top:50px;
	width: 10%;
	border-radius: 15px;
	display: inline-block;
	position: relative;
}

body .registrarse:hover{
	background-color:#1891ac;
}

body .registrarse a{
	color: #253b6e;
	text-decoration: none;
}

nav{
	margin-top: 50px;
	margin-bottom: 5px;
	padding: 0px;
	text-align: center;
	background: #253b6e;
}

nav ul{
	margin: 0px;
	padding: 0px;
	height: 50px;
	border-radius: 15px;
}

nav ul li{
	float:left;
	width: 20%;
	text-decoration:none;
	color:#253b6e;
	margin-left: 20%;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	border-radius: 15px;
	padding: 5px;
	position: relative;
}

nav ul li a{
	background-color: #1891ac;
	color:#253b6e;
	text-decoration:none;
	padding:10px 12px;
	display:block;
	border-radius: 15px;
}

nav ul li a:hover{
	background-color:#d2ecf9;
	border-radius: 15px;
}

.section_subcategories{
	width: 100%;
	height: 50px;
	float:left;
	margin-top: 20px;
	margin-bottom: 20px; 
}

.subcategories {
	float:left;
	width: 20%;
	margin-top: 50px;
	background-color: #1891ac;
	text-decoration:none;
	color:#253b6e;
	margin-left: 40%;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	border-radius: 15px;
	padding: 5px;
	position: relative;
}

.subcategories:hover{
	background-color:#d2ecf9;
}

.subcategories a{
	color:#253b6e;
	text-decoration:none;
}

body .titulo{
	top: 20px;
	color: white;
	margin-bottom: 20px;
	font-size: 300%;
	margin-left: 26%;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
	position: relative;
	width: 50%;
}

.seccion_general{
	float:left;
	display: inline-block;
	margin-bottom: 0%;
	margin-left: 30%;
	margin-top: 20px;
	position: relative;
	width: 40%;
	padding: 10px;
	background-color: #1891ac;
	border-radius: 15px;
}

.seccion_general .seccion_imagen{
	display: inline-block;
	margin-left: 10%;
	margin-top: 30px;
	width: 80%;
}
.seccion_general .seccion_nombre{
	display: inline-block;
	margin-top: 10px;
	margin-left: 10%;
	width: 80%;
	font-size: 100%;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #1891ac;
	color: #253b6e;
}

.seccion_general .seccion_nombre a{
	color: #253b6e;
	text-decoration: none;
}

.seccion_general .seccion_nombre a:hover{
	color: #d2ecf9;
	background-color:#1f5f8b;
	border-radius: 15px;
	padding: 5px;
}

.seccion_general .seccion_descripcion{
	color: #1f5f8b;
	padding: 5px;
}
.seccion_fotos{
	background: #1891ac;
	display: inline-block;
	margin-left: 10%;
	margin-top: 5%;
	position: relative;
	width: 30%;
	border-radius: 15px;
	padding: 10px;
	float:left;
}

.seccion_fotos .nombre{
	background: #1f5f8b;
	display: inline-block;
	font-size: 70px;
	text-align: center;
	height: 100px;
	margin-left: 10%;
	padding: 3px;
	width: 80%;
	color: #1891ac;
	border-radius: 15px;
}

.seccion_enlaces{
	background: #1891ac;
	display: inline-block;
	margin-left: 20%;
	float:left;
	margin-top: 5%;
	position: relative;
	width: 30%;
	border-radius: 15px;
	padding: 10px;
}

.seccion_enlaces .nombre{
	background: #1f5f8b;
	font-size: 50px;
	text-align: center;
	height: 100px;
	margin-left: 10%;
	padding: 3px;
	width: 80%;
	color: #1891ac;
	border-radius: 15px;
}

.seccion_fotos .foto{
	background: black;
	display: inline-block;
	height: 100px;
	margin-left: 2%;
	margin-top: 2%;
	width: 100px;
}

.seccion_enlaces .enlaces{
	background: #1891ac;
	margin-left: 5%;

	position: relative;
	width: 45%;
	border-radius: 15px;
}

body .form_articulos {
	background: #d2ecf9;
	color: #253b6e;
	position: absolute;
	top: 200px;
	text-align: center;
	padding: 15px;
	left: 30%;
	right: 30%;
	width: 40%;
	border-radius: 15px;
	margin-top: 100px;
	display: inline-block;
}

.trash {
	margin-top: 48px;
	bottom: 10px;
	margin-right: 20%;
	margin-left: 10%;
	display: inline-block;
}

.trash a{
	text-decoration: none;
	color: #7f7f7f;
}

.trash a:hover{
	text-decoration: none;
	color: #eee;
}

.pencil {
	margin-left: -30%;
	display: inline-block;
}

.pencil	 a{
	text-decoration: none;
	color: #7f7f7f;
}

.pencil	 a:hover{
	text-decoration: none;
	color: #eee;
}

.section_pictures_form{
	background: #1891ac;
	display: inline-block;
	margin-left: 10%;
	margin-top: 5%;
	position: relative;
	width: 80%;
	border-radius: 15px;
	padding: 10px;
	float:left;
}
.picture_form{
	background: #253b6e;
	display: inline-block;
	margin-left: 5%;
	margin-top: 2%;
	padding: 10px;
	width: 25%;
	text-align: center;
	border-radius: 15px; 
}

.picture_form_23{
	background: #253b6e;
	display: inline-block;
	margin-left: 25%;
	margin-top: 2%;
	padding: 10px;
	width: 50%;
	text-align: center;
	border-radius: 15px; 
}

body .section_name{
	width: 80%;
	margin-left: 10%;
	text-align: center;
	font-size: 50px;
}